*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
    background-color: #444444;
}
.yi{
    width: 100px;
    height: 40px;
    margin-left: 100px;
    float: left;
}
.yi img{
    width: 100%;
    height: 100%;
    margin-top: 3px;
}
.er{
    width: 240px;
    height: 25px;
    position: relative;
    float: left;
    margin-left: 10px;
}
.er input{
    width: 200px;
    height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #888888;
    border: 1px solid #888888;
}
.er input:hover{
    background-color: white;
}
.er span{
    position: absolute;
    top: 15px;
    left: 5px;
    color: #0f0f0f;

}
.san{
    width: 330px;
    height: 30px;
    float: right;
    margin-right: 160px;
}
.san ul li{
    float: left;
    color: #888888;
    list-style: none;
    font-size: 14px;
    margin-left: 22px;
    margin-top: 15px;
}
.san ul li:hover{
    color: white;
}
.box{
    width: 100%;
    height: 2000px;
    background-color: #e1e1e1;
}
.first{
    width: 750px;
    height: 1900px;
    border:  1px solid white;
    float: left;
  margin-left: 15px;
    margin-top: 30px;
    background-color: white;
}
.first img{
    width: 100%;
}
.second{
    width: 260px;
    height: 1100px;
    border:  1px solid white;
  position: absolute;
  top: 90px;
  right: 20px;
}
.daohang{
    width: 100%;
    height: 35px;
    background-color: #f6f6f6;
}
.daohang ul li{
    list-style: none;
    float: left;
    font-size: 14px;
    color: #80bd01;
    margin-left: 10px;
    margin-top: 10px;
}
span{
    font-size: 14px;
}
.daohang ul li:hover{
    color: #2e6da4;
}
.one{
    width: 100%;
    height: 100px;
    font-size: 14px;
    background-color: white;
}
.one button{
    width: 130px;
    height: 30px;
    margin-top: 3px;
}
.one a{
    color: black;
    text-decoration: none;
    color: darkgray;
}
span{
    font-size: 14px;
}
.tiao{
    width: 100%;
    height: 50px;
}
.tiao div:nth-of-type(4):hover{
 text-decoration: underline;
}
.tiao:hover{
    text-decoration: underline;
}
.tiao div{
    float: left;
}
.two{
    width: 100%;
    margin-top: 20px;
    background-color: white;
}
.img{
    width: 100%;
    height: 70px;
     margin-top: 10px;

}
.img img{
    width: 100%;
    height: 100%;
}
.three{
    background-color: white;
    font-size: 12px;
    height: 180px;
    margin-top: 20px;
}
.three p{
    margin-top: 5px;
    font-size: 13px;
    color: #778087;
    margin-left: 5px;
}.four{
    background-color: white;
    font-size: 12px;
    height: 280px;
    margin-top: 20px;
}
.four p{
    margin-top: 5px;
    font-size: 13px;
    color: #778087;
margin-left: 5px;
}
.five{
    height: 260px;
margin-top: 20px;
    background-color: white;
}
.img1{
    width: 100%;
    height: 50px;
    margin-top: 3px;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.six{
    width: 100%;
    height: 220px;
    margin-top: 20px;
    background-color: white;
}
.img2{
    width: 90%;
    height: 100%;
margin-left: 20px;
}
.img2 img{
    width: 80%;
    height: 75%;
}
.img2 p{
    margin-left: 30px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: white;
}

footer img{
    width: 100px;
    height: 60px;
}
footer a{
    text-decoration: none;

}
footer p{
    margin-left: 50px;
margin-top: 5px;
}
